=formFocus()
    &:focus
        border-bottom: 6px solid #fff
        color: #fff

// Preset Device Widths
$phoneMaxWidth: 600px
$tabletMinWidth: 601px
$tabletMaxWidth: 1024px
$smallDesktopMinWidth: 1025px
$smallDesktopMaxWidth: 1500px
$largeDesktopMinWidth: 1501px

@mixin phone
    @media (max-width: $phoneMaxWidth)
        @content
    
@mixin tablet
    @media (min-width: $tabletMinWidth) and (max-width: $tabletMaxWidth)
        @content
    
@mixin desktopSmall
    @media (min-width: $smallDesktopMinWidth) and (max-width: $smallDesktopMaxWidth)
        @content
    
@mixin desktopLarge
    @media (min-width: $largeDesktopMinWidth)
        @content
        
@mixin absoluteCenter
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)