<section class="photoGrid">
               
        <a href="../pages/index.html#portfolio">
           <svg class="arrowLeft" width="80px" height="80px" viewBox="0 0 37 97" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            
                <g id="Assets" stroke="none" stroke-width="20" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-186.000000, -269.000000)" stroke-linecap="square" stroke="#919191" stroke-width="5">
                        <g id="arrow-left" sketch:type="MSLayerGroup" transform="translate(190.000000, 273.000000)">
                            <path d="M0.104779346,44.3191772 L28.8143202,0.126265462" id="Line" sketch:type="MSShapeGroup"></path>
                            <path d="M0.104779346,88.76462 L28.8143202,44.5717082" id="Line" sketch:type="MSShapeGroup" transform="translate(14.459550, 66.668164) scale(1, -1) translate(-14.459550, -66.668164) "></path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>

        <h2 class="sectionHeading">Commercial</h2>
        
        <p class="snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis pariatur ducimus recusandae rem dolores culpa quos natus ea nisi nobis, dolor, consectetur ipsa autem corporis dignissimos fugit repudiandae laborum animi.</p>
        
        <div class="gallery">
           
            <a href="/assets/images/2.jpg" data-title="My Second Caption" data-lightbox="Street">
                <img  src="/assets/images/2.jpg" class="imgThumbnail"/>
            </a>
            
            <a href="/assets/images/2.jpg" data-title="My Second Caption" data-lightbox="Street">
                <img  src="/assets/images/2.jpg" class="imgThumbnail"/>
            </a>
            
            <a href="/assets/images/2.jpg" data-title="My Second Caption" data-lightbox="Street">
                <img  src="/assets/images/2.jpg" class="imgThumbnail"/>
            </a>
            <a href="/assets/images/2.jpg" data-title="My Second Caption" data-lightbox="Street">
                <img  src="/assets/images/2.jpg" class="imgThumbnail"/>
            </a>
            
            <a href="/assets/images/2.jpg" data-title="My Second Caption" data-lightbox="Street">
                <img  src="/assets/images/2.jpg" class="imgThumbnail"/>
            </a>
            
            <a href="/assets/images/2.jpg" data-title="My Second Caption" data-lightbox="Street">
                <img  src="/assets/images/2.jpg" class="imgThumbnail"/>
            </a>
            
            <h3 class="footerGeneral">Extinct Anatomies Photography &copy; 2015</h3>
            
        </div>
        
</section>