<div class="contactWrapper">
    <section class="contact">
       <div class="sectionWrapper">
        <h2 class="sectionHeading">Let Me Shoot You!</h2>
        <p class="snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. To contact me, send an email to <a href=""><span class="emailLink">hello@example.com</span></a> or use the contact form below.</p>
        
        </div>
        
        <form action="//formspree.io/your@email.com"
        method="POST">
            <input class="nameInput" type="text" name="name" placeholder="Name">
            <input class="emailInput" type="email" name="_replyto" placeholder="Email">
            <textarea class="messageInput" name="message" placeholder="Enter your message..."></textarea>
            <input class="submitInput" type="submit" value="Send">
        </form>
        
    </section>
</div>