<div class="contactWrapper">
    <section class="contact">
        <h2 class="sectionHeading">Let Me Shoot You!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. To contact me, send an email to hello@example.com or use the contact form below.</p>
        
        <form action="//formspree.io/your@email.com"
        method="POST">
            <input class="nameInput" type="text" name="name" placeholder="Name">
            <input class="emailInput" type="email" name="_replyto" placeholder="Email">
            <textarea class="messageInput" name="message" placeholder="Enter your message..."></textarea>
            <input class="submitInput" type="submit" value="Send">
        </form>
        
    </section>
</div>