<section class="logoPage">
            
            <img class="mainLogo" src="../assets/icons/camera_lens.png" alt="">
        
           
            <a href="#portfolio">
              
               <svg class="arrowDown" width="97px" height="37px" viewBox="0 0 97 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
                <title>arrow-down</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                    <g id="Assets" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-445.000000, -299.000000)" stroke-linecap="square" stroke="#919191" stroke-width="5">
                            <g id="arrow-down" sketch:type="MSLayerGroup" transform="translate(493.500000, 317.500000) scale(-1, 1) rotate(-90.000000) translate(-493.500000, -317.500000) translate(479.000000, 273.000000)">
                                <path d="M0.104779346,44.3191772 L28.8143202,0.126265462" id="Line" sketch:type="MSShapeGroup"></path>
                                <path d="M0.104779346,88.76462 L28.8143202,44.5717082" id="Line" sketch:type="MSShapeGroup" transform="translate(14.459550, 66.668164) scale(1, -1) translate(-14.459550, -66.668164) "></path>
                            </g>
                        </g>
                    </g>
            </svg> 
            </a>
    
    
</section>