<div class="portfolioWrapper">
    <a id="portfolio"></a>
    <h2 class="sectionHeading">Portfolio</h2>

    <section class="portfolio">


        <a href="" class="portfolioItem">
            <h4 class="portfolioTitle">Street</h4>
            <div class="portfolioCover" id="street"></div>
        </a>

        <a href="" class="portfolioItem">
            <h4 class="portfolioTitle">Projects</h4>
            <div class="portfolioCover" id="project"></div>
        </a>

        <a href="" class="portfolioItem">
            <h4 class="portfolioTitle">Commercial</h4>
            <div class="portfolioCover" id="commercial"></div>
        </a>

        <a href="" class="portfolioItem">
            <h4 class="portfolioTitle">Weddings</h4>
            <div class="portfolioCover" id="wedding"></div>
        </a>

        <a href="" class="portfolioItem">
            <h4 class="portfolioTitle">Portrait</h4>
            <div class="portfolioCover" id="portrait"></div>
        </a>

        <a href="" class="portfolioItem">
            <h4 class="portfolioTitle">Personal</h4>
            <div class="portfolioCover" id="personal"></div>
        </a>

    </section>
</div>