
<section class="portfolio" ><a id="portfolio"></a>
   
    <div class="portfolioItem">
        <h4 class="portfolioTitle">Street</h4>
        <div id="street"></div>
    </div>
    
    <div class="portfolioItem">
        <h4 class="portfolioTitle">Projects</h4>
        <div id="project"></div>
    </div>
    
    <div class="portfolioItem">
        <h4 class="portfolioTitle">Commercial</h4>
        <div id="commercial"></div>
    </div>
    
    <div class="portfolioItem">
        <h4 class="portfolioTitle">Weddings</h4>
        <div id="wedding"></div>
    </div>
    
    <div class="portfolioItem">
        <h4 class="portfolioTitle">Portrait</h4>
        <div id="portrait"></div>
    </div>
    
    <div class="portfolioItem">
        <h4 class="portfolioTitle">Personal</h4>
        <div id="personal"></div>
    </div>

</section>