.logoPage
    display: flex
    height: 100vh
    flex-grow: 1
    background-color: #fff
    align-items: center
    flex-direction: column
    
.mainLogo
    color: #696969
    font-weight: 100
    font-size: 3em
    margin-top: 20%
    padding: 1.5em
    box-shadow: 0px 0px 20px 5px #b5b5b5
    
.arrowDown
    opacity: 0.3
    margin-top: 12em
    
    &:hover
        opacity: 1
    
    
