.mainWrapper
    display: flex
    flex-direction: column
    overflow: auto
    
.sectionHeading
    margin: 0 0 0.5em
    font-size: 5em
    color: #696969
    font-weight: 100
    text-align: center
    padding: 0
    
.sectionWrapper
    display: block
    max-width: 90%
    margin: 0 auto
    
html, html a 
    -webkit-font-smoothing: antialiased
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
    
.footerGeneral
    text-align: center
    margin: 5em 0
    color: #696969