.about
    margin-bottom: 10%

.videoWrapper
    display: block
    margin: 0 auto
    overflow: hidden
    width: 80%
    max-width: 100%
    height: auto
    padding-bottom: 56.25% // For ratio 16:9. 75% if ratio is 4:3
    position: relative

.aboutVideo
    @include position(absolute, 0px null null 0px)
    @include size(100%)
    height: 80%
        

