.logoPage
    display: flex
    height: 100vh
    flex-grow: 1
    background-color: #fff
    align-items: center
    flex-direction: column
    
.mainLogo
    color: #000
    font-weight: 100
    font-size: 3em
    margin-top: 20%
    
.arrowDown
    opacity: 0.3
    margin-top: 17em
    
    &:hover
        transition: 0.2s ease-in
        opacity: 1
        